h1 {
    padding: 5px;
}

#city_choice {
    padding-top: 50px;
    padding-bottom: 10px;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

#table_week {
    padding-top: 15px;
}

#day1 {
    width: 20%;
}

#day2 {
    width: 20%;
}

#day3 {
    width: 20%;
}

#day4 {
    width: 20%;
}

#day5 {
    width: 20%;
}